body{
    background-color: black;
}

.logo {
    padding-bottom: 70px;
    text-align: left;
    width: 320px;
    height:55px;
    margin-right: 0px;
    size-adjust: 30px;

}

.logo a{
    font-weight: bold;

}

.moods-home {
    align-items: left;
    width: 600px;
    height: 450px;
    justify-items: left;
    padding-left: 0px;

}

.login-home-button {
    background-color: #F85F5F;
    border-radius: 15px;
    padding: 10px 25px 10px 25px;
    margin-bottom: 5rem;
}
